body {
  background-image: url(https://th.bing.com/th/id/R36a9d869c21e1a84a3d80f554b57f4f4?rik=cHBnhFxvHlzNiQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-Cmvu1wHYjQk%2fUOFKCAktHsI%2fAAAAAAAAKDs%2f29TPBCRpLv4%2fs1600%2fbunbougu_kokuban.png&ehk=OUK4GuK0uAy6UAc2QNlL%2bWMNXdUpTRpucm4qnpAT%2bvA%3d&risl=&pid=ImgRaw);
  background-size: contain;
  overflow: hidden;
}
ぽぽぽぽぽぽ